
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->

    </div>
    <!--面包屑导航 结束-->

	<!--结果集标题与导航组件 开始-->
	<div class="result_wrap">

    </div>
    <!--结果集标题与导航组件 结束-->
    
    <div class="result_wrap">
        <form action="/admin/advert/advertadd" method="post" enctype="multipart/form-data">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>广告名称</th>
                        <td>
                            <input type="text" name="advert_name" id="">
                            <span id="advert_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>广告图片</th>
                        <td>
                            <input type="file" name="advert_image" id="">
                            <span id="advert_image"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>广告链接</th>
                        <td>
                            <input type="text" name="advert_link" id="">
                        </td>
                    </tr>
                    <tr>
                        <th>广告备注</th>
                        <td>
                            <textarea name="advert_remarks" id="" cols="30" rows="10"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>


<script src="style/js/jquery.js"></script>
<script>
    $('input[name="advert_name"]').blur(function () {
        checkadvert_name();
    })
    $('input[name="advert_image"]').change(function () {
        checkadvert_image();
    })
    $('input[type="submit"]').click(function () {
        if(checkadvert_name()&&checkadvert_image()){
            return true;
        }else{
            return false;
        }
    })
    function checkadvert_name(){
        var advert_name=$('input[name="advert_name"]').val();
        if(advert_name==''){
            $('#advert_name').html('<i class="fa fa-exclamation-circle yellow"></i>不能为空');
            return false;
        }else{
            $('#advert_name').html('');
            return true;
        }
    }
    function checkadvert_image(){
        var advert_image=$('input[name="advert_image"]').val();
        if(advert_image==''){
            $('#advert_image').html('<i class="fa fa-exclamation-circle yellow"></i>不能为空');
            return false;
        }else{
            $('#advert_image').html('');
            return true;
        }
    }
</script>