
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->

    </div>
    <!--面包屑导航 结束-->

	<!--结果集标题与导航组件 开始-->
	<div class="result_wrap">

    </div>
    <!--结果集标题与导航组件 结束-->
    
    <div class="result_wrap">
        <form action="/admin/admin/adminadd" method="post">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>管理员名称</th>
                        <td>
                            <input type="text" name="user_name" id="">
                            <span id="user_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>密码</th>
                        <td>
                            <input type="text" class="lg" name="user_pwd">
                            <span id="user_pwd"></span>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>确认密码</th>
                        <td>
                            <input type="text" class="lg" name="pwd_c">
                            <span id="pwd_c"></span>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>职位分配</th>
                        <td>

                                <?php foreach($rolelist as $k => $v){ ?>
                            <label for=""><input type="checkbox" name="role_id[]" value="{$v.role_id}">{$v.role_name}</label>
                                <?php } ?>
                            <span id="role_id"></span>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>


<script>
    $('input[name="user_name"]').blur(function () {
        checkuser_name();
    })
    $('input[name="user_pwd"]').blur(function () {
        checkuser_pwd();
    })
    $('input[name="pwd_c"]').blur(function(){
        checkpwd_c();
    })
    $('input[type="checkbox"]').click(function () {
        checkrole_id();
    })
    $('input[type="submit"]').click(function(){
        if(checkpwd_c()&&checkuser_pwd()&&checkuser_name()&&checkrole_id()){
            return true;
        }else{
            return false;
        }
    })
    function checkuser_name(){
        var user_name=$('input[name="user_name"]').val();
        if(user_name==''){
            $('#user_name').html('<i class="fa fa-exclamation-circle yellow"></i>不能为空');
            return false;
        }else{
            $('#user_name').html('');
            return true;
        }
    }
    function checkuser_pwd(){
        var user_pwd=$('input[name="user_pwd"]').val();
        var preg=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,30}$/;
        if(preg.test(user_pwd)){
            $('#user_pwd').html('');
            return true;
        }else{
            $('#user_pwd').html('<i class="fa fa-exclamation-circle yellow"></i>密码必须6-30位，有字母大小写和数字');
            return false;
        }
    }
    function checkpwd_c(){
        var user_pwd=$('input[name="user_pwd"]').val();
        var pwd_c=$('input[name="pwd_c"]').val();
        if(user_pwd==pwd_c){
            $('#pwd_c').html('');
            return true;
        }else{
            $('#pwd_c').html('<i class="fa fa-exclamation-circle yellow"></i>两次输入不相同');
            return false;
        }
    }
    function checkrole_id(){
        var checkrole_id=$('input[type="checkbox"]').is(':checked');
        if(checkrole_id){
            $('#role_id').html('');
            return true;
        }else{
            $('#role_id').html('<i class="fa fa-exclamation-circle yellow"></i>请选择一个或多个');
            return false;
        }
    }
</script>