

<section class="container">
<div class="content-wrap">
<div class="content">
  <header class="article-header">
	<h1 class="article-title"><a href="/index/index/blogShow?blog_id={$oneBlog.blog_id}" title="{$oneBlog.blog_title}" >{$oneBlog.blog_title}</a></h1>
	<div class="article-meta"> <span class="item article-meta-time">
	  <time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：<?php echo date('Y-m-d H:i:s',$oneBlog['publishtime']); ?>"><i class="glyphicon glyphicon-time"></i> <?php echo date('Y-m-d H:i:s',$oneBlog['publishtime']); ?></time>
	  </span><span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="浏览量：219"><i class="glyphicon glyphicon-eye-open"></i> 219</span> <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="评论量"><i class="glyphicon glyphicon-comment"></i> 4</span> </div>
  </header>
  <article class="article-content">
	<div id="blog_content">{$oneBlog.blog_content}</div>


	  <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>

	  <script>                  window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=0.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

  </article>

  <div class="relates">


  </div>
  <div class="title" id="comment">
	<h3>评论</h3>
  </div>
	<a href="javascript:;" id="addDiscuss">点击添加评论</a>
  <div id="respond">
		<form id="comment-form" name="comment-form" action="/index/index/addDiscuss?blog_id={$oneBlog.blog_id}" method="POST">
			<div class="comment">
				<div class="comment-box">
					<textarea placeholder="您的评论或留言" name="discuss_content" id="comment-textarea" cols="100%" rows="3" tabindex="3"></textarea>
					<div class="comment-ctrl">
						<button type="submit" name="comment-submit" id="comment-submit" tabindex="4">评论</button>
					</div>
				</div>
			</div>
		</form>
		
	</div>
  <div id="postcomments">

	<ol id="comment_list" class="commentlist">
		{foreach $discussList as $k => $v }
	<li class="comment-content">
		<span class="comment-f">
			<a href="javascript:;">回复</a>
		</span>
		<div class="comment-main">
			<p>
				<?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$v['level']); ?>
				<a class="address" href="javascript:;" rel="nofollow" target="_blank">{$v.user_name}</a>
				<span class="time">(<?php echo date('Y-m-d H:i:s',$v['discuss_addtime']); ?>)</span>
				<br>
				<?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',$v['level']); ?>{$v.discuss_content}
			</p>
		</div>
		<div style="display: none;">
		<form id="" name="comment-form" action="/index/index/addDiscuss?blog_id={$oneBlog.blog_id}&pid={$v.discuss_id}" method="POST">
			<div class="comment">
				<div class="comment-box">
					<textarea placeholder="您的评论或留言" name="discuss_content" id="" cols="100%" rows="3" tabindex="3"></textarea>
					<div class="comment-ctrl">
						<button type="submit" name="comment-submit" id="" tabindex="4">评论</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	</li>

		{/foreach}
	</ol>
  </div>
</div>
</div>
<aside class="sidebar">
<div class="fixed">
  <div class="widget widget-tabs">
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" draggable="false">统计信息</a></li>
	  <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" draggable="false">联系站长</a></li>
	</ul>
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane contact active" id="notice">
		<h2>日期:
			<?php echo date('Y-m-d',time());?>
		  </h2>
		  <h2>网站运行:
		  <span id="sitetime"><?php echo ceil((time() - 1557417600) / 60 / 60 / 24); ?>天 </span></h2>
	  </div>
		<div role="tabpanel" class="tab-pane contact" id="contact">
		  <h2>QQ:
			  <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" draggable="false" data-original-title="QQ:864384773">206615407</a>
		  </h2>
		  <h2>Email:
		  <a href="mailto:206615407@qq.com" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title="" draggable="false" data-original-title="Email:206615407@qq.com">206615407@qq.com</a></h2>
	  </div>
	</div>
  </div>
  <div class="widget widget_search">
	<form class="navbar-form" action="/Search" method="post">
	  <div class="input-group">
		<input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
		<span class="input-group-btn">
		<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
		</span> </div>
	</form>
  </div>
</div>
<div class="widget widget_hot">
	  <h3>最新评论文章</h3>
	  <ul>

		  {foreach $blogList_d as $k => $v }
		  <li><a title="{$v.blog_title}" href="/index/index/blogShow?blog_id={$v.blog_id}" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">{$v.blog_title}</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
			  <?php echo date('Y-m-d H:i:s',$v['publishtime']); ?>
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
		  {/foreach}


	  </ul>
  </div>
  <div class="widget widget_sentence">

<a href="#" target="_blank" rel="nofollow" title="MZ-NetBlog主题" >
	<img style="width: 100%" src="images/ad.jpg" alt="MZ-NetBlog主题" ></a>

</div>
  <div class="widget widget_sentence">

<a href="#" target="_blank" rel="nofollow" title="专业网站建设" >
	<img style="width: 100%" src="images/201610241224221511.jpg" alt="专业网站建设" ></a>

</div>
</aside>
</section>
<footer class="footer">
<div class="container">
 <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a> </p>
</div>
<div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.ias.js"></script>
<script src="js/scripts.js"></script>
<script>
	var blog_content = $('#blog_content').text();
	$('#blog_content').html(blog_content);
    $('#respond').hide();
    $('#addDiscuss').click(function () {
        $('#respond').show();
        $('#addDiscuss').hide();
    })
	$('.comment-f').click(function(){
        $(this).next().next().show();
	})
</script>
