<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div style="width:50%;margin-left: 25%;">
    <form action="/index/index/forgotPassword" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">账号绑定的邮箱</label>
            <input type="emial" class="form-control" id="" placeholder="请输入邮箱" name="user_email"><p id="user_email" class="bg-primary"></p>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">新密码</label>
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="新密码" name="user_pwd"><p id="user_pwd" class="bg-primary"></p>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">确认密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="在输入一次" name="pwd_c"><p id="pwd_c" class="bg-primary"></p>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">验证码</label>
            <input type="text" class="form-control" id="" placeholder="请输入验证码" name="code">
            <span class="input-group-addon" id="sendCode" time="120">点击发送验证码到邮箱</span>
            <p id="code" class="bg-primary"></p>
        </div>
        <input type="submit" class="btn btn-default" value="确认修改">
    </form>
</div>
<script>
    var time_c = '';
    var code_c = '';
    $('#sendCode').click(function () {
        var time = $(this).attr('time');
        if(time == 120){
            if(!checkuser_email()){
                alert('请先输入邮箱');
                return false;
            }
            var user_email = $('input[name="user_email"]').val();
            $.ajax({
                url:'/index/index/sendCode',
                data:{user_email:user_email},
                dataType:'json',
                success:function(e){
                    code_c = e.code;
                    time_c = e.time;
                }
            })
            sendCode();
        }
    })
    $('input[name="user_email"]').blur(function(){
        checkuser_email();
    })
    $('input[name="user_pwd"]').blur(function(){
        checkuser_pwd();
    })
    $('input[name="pwd_c"]').blur(function(){
        checkpwd_c();
    })
    $('input[name="code"]').blur(function () {
        checkcode();
    })
    $('input[type="submit"]').click(function () {
        if (checkuser_email()&&checkuser_pwd()&&checkpwd_c()&&checkcode()){
            return true;
        } else{
            return false;
        }
    })
    function sendCode(){
        var time = $('#sendCode').attr('time');
        if(time > 0){
            time = time - 1;
            $('#sendCode').attr('time',time);
            $('#sendCode').html('已发送验证码到邮箱，<font color="red">'+time+'</font>秒后过期');
            setTimeout(sendCode,1000);
        }else if (time == 0){
            $('#sendCode').attr('time',120);
            $('#sendCode').html('已过期请点击重新发送');
        }
    }
    function checkuser_email(){
        var user_email = $('input[name="user_email"]').val();
        var preg=/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if(!preg.test(user_email)){
            $('#user_email').text('请输入正确邮箱');
            return false;
        }else{
            $('#user_email').text('');
            return true;
        }
    }
    function checkuser_pwd(){
        var user_pwd=$('input[name="user_pwd"]').val();
        var preg=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,30}$/;
        if(preg.test(user_pwd)){
            $('#user_pwd').text('')
            return true;
        }else{
            $('#user_pwd').text('密码必须6-30位，有字母大小写和数字');
            return false;
        }
    }
    function checkpwd_c(){
        var user_pwd=$('input[name="user_pwd"]').val();
        var pwd_c=$('input[name="pwd_c"]').val();
        if(user_pwd == pwd_c && pwd_c != ''){
            $('#pwd_c').text();
            return true;
        }else{
            $('#pwd_c').text('两次输入密码不一致');
            return false;
        }
    }
    function checkcode(){
        var code = $('input[name="code"]').val();
        var time = $('#sendCode').attr('time');
        if(code == code_c && time < 120 && time > 0){
            $('#code').text('');
            return true;
        }else{
            $('#code').text('验证码错误');
            return false;
        }
    }
</script>