
<section class="container">
<div class="content-wrap">
<div class="content">
  <div id="focusslide" class="carousel slide" data-ride="carousel">

	<div class="carousel-inner" role="listbox">



		  <div class="swiper-container" style="width: 800px;height: 200px;">
			  <div class="swiper-wrapper">
				  <?php foreach($advertList as $k => $v){ ?>
				  <div class="swiper-slide">
					  <a href="{$v.advert_link}" target="_blank" title="{$v.advert_name}" >
					  <img src="<?php echo '/uploads/'.$v['advert_image']; ?>" alt="{$v.advert_remarks}" class="img-responsive" style="width: 800px;height: 200px;">
					  </a>
				  </div>
				  <?php } ?>
			  </div>
			  <!-- 如果需要分页器 -->
			  <div class="swiper-pagination"></div>

			  <!-- 如果需要导航按钮 -->
			  <div class="swiper-button-prev"></div>
			  <div class="swiper-button-next"></div>

			  <!-- 如果需要滚动条 -->
			  <div class="swiper-scrollbar"></div>
		  </div>
	</div>
	<a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">  </a> <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow">  </a> </div>


  <article class="excerpt-minic excerpt-minic-index">
		<h2><span class="red">【推荐】</span><a target="_blank" href="/index/index/blogShow?blog_id={$hostBlog.blog_id}" title="{$hostBlog.blog_title}" >{$hostBlog.blog_title}</a>
		</h2>
		<p class="note"><?php echo substr($hostBlog['blog_content'],0,100).'……'; ?></p>
	</article>


  <div class="title">
	<h3>最新发布</h3>

  </div>

<?php foreach($blogList as $k => $v){ ?>
  <article class="excerpt excerpt-1" style="">
  <a class="focus" href="/index/index/blogShow?blog_id={$v.blog_id}" title="{$v.blog_title}" target="_blank" >
	  <img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="{$v.blog_title}"  style="display: inline;">
  </a>
		<header>
            <a class="cat" href="javascript:;" title="{$v.user_name}" >{$v.user_name}<i></i></a>
			<h2><a href="/index/index/blogShow?blog_id={$v.blog_id}" title="{$v.blog_title}" target="_blank" >{$v.blog_title}</a>
			</h2>
		</header>
		<p class="meta">
			<time class="time"><i class="glyphicon glyphicon-time"></i><?php echo date('Y-m-d H:i:s',$v['publishtime']); ?></time>
			<span class="views"><i class="glyphicon glyphicon-eye-open"></i> {$v.host_num}</span> <a class="comment" href="javascript:;" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> 4</a>
		</p>
		<p class="note"><?php echo substr($v['blog_content'],0,100).'……'; ?></p>
	</article>
<?php } ?>


<div id="page" style="padding-left: 40%">{$page}</div>
  <!--<nav class="pagination" style="display: none;">-->
	<!--<ul>-->
	  <!--<li class="prev-page"></li>-->
	  <!--<li class="active"><span>1</span></li>-->
	  <!--<li><a href="?page=2">2</a></li>-->
	  <!--<li class="next-page"><a href="?page=2">下一页</a></li>-->
	  <!--<li><span>共 2 页</span></li>-->
	<!--</ul>-->
  <!--</nav>-->
</div>
</div>
<aside class="sidebar">
<div class="fixed">
  <div class="widget widget-tabs">
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" >统计信息</a></li>
	  <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" >联系站长</a></li>
	</ul>
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane contact active" id="notice">
		<h2>日期:
			  <?php echo date('Y-m-d',time());?>
		  </h2>
		  <h2>网站运行:
		  <span id="sitetime"><?php echo ceil((time() - 1557417600) / 60 / 60 / 24); ?> 天</span></h2>
	  </div>
		<div role="tabpanel" class="tab-pane contact" id="contact">
		  <h2>QQ:206615407
			  <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""  data-original-title="QQ:"></a>
		  </h2>
		  <h2>Email:206615407@qq.com
		  <a href="#" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title=""  data-original-title="#"></a></h2>
	  </div>
	</div>
  </div>
  <div class="widget widget_search">
	<form class="navbar-form" action="/index/index/index" method="post">
	  <div class="input-group">
		<input type="text" name="keyword" class="form-control" size="35" placeholder="请输入博客标题或作者关键字" maxlength="15" autocomplete="off" value="{$keyword}">
		<span class="input-group-btn">
		<input class="btn btn-default btn-search" name="search" type="submit" value="搜索">
		</span> </div>
	</form>
  </div>
</div>
<div class="widget widget_hot">
	  <h3>最新评论文章</h3>
	  <ul>
          {foreach $blogList_d as $k => $v }
			<li><a title="{$v.blog_title}" href="/index/index/blogShow?blog_id={$v.blog_id}" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">{$v.blog_title}</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                <?php echo date('Y-m-d H:i:s',$v['publishtime']); ?>
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
          {/foreach}


	  </ul>
 </div>
 <div class="widget widget_sentence">    
	<a href="#" target="_blank" rel="nofollow" title="专业网站建设" >
	<img style="width: 100%" src="images//201610241224221511.jpg" alt="专业网站建设" ></a>    
 </div>
 <div class="widget widget_sentence">    
	<a href="#" target="_blank" rel="nofollow" title="MZ-NetBlog主题" >
	<img style="width: 100%" src="images/ad.jpg" alt="MZ-NetBlog主题" ></a>    
 </div>
<div class="widget widget_sentence">
  <h3>友情链接</h3>
  <div class="widget-sentence-link">
      {foreach $linkList as $k => $v}
	<a href="{$v.link_content}" title="{$v.link_title}" target="_blank" >{$v.link_title}</a>&nbsp;&nbsp;&nbsp;
      {/foreach}
  </div>
</div>
</aside>
</section>
<footer class="footer">
<div class="container">
<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a></p>
</div>
<div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.ias.js"></script>
<script src="js/scripts.js"></script>
<script src="swiper.min.js"></script>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true,//可选选项，自动滑动
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        loop : true,
    })
	var page = $('#page').text();
    $('#page').html(page);
</script>
