
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->

    </div>
    <!--面包屑导航 结束-->

	<!--结果集标题与导航组件 开始-->
	<div class="result_wrap">

    </div>
    <!--结果集标题与导航组件 结束-->
    
    <div class="result_wrap">
        <form action="/admin/sensitivewords/swadd" method="post">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>敏感词</th>
                        <td>
                            <input type="text" name="word" id="">
                            <span id="word"></span>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>


<script>
    $('input[name="word"]').blur(function () {
        checkword();
    })
    $('input[type="submit"]').click(function () {
        if(checkword()){
            return true;
        }else{
            return false;
        }
    })
    function checkword(){
        var word=$('input[name="word"]').val();
        if(word==''){
            $('#word').html('<i class="fa fa-exclamation-circle yellow"></i>不能为空');
            return false;
        }else{
            $('#word').html('');
            return true;
        }
    }
</script>