
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->

    </div>
    <!--面包屑导航 结束-->

	<!--结果页快捷搜索框 开始-->
	<div class="search_wrap">
        <form action="/admin/sensitivewords/swlist" method="get">
            <table class="search_tab">
                <tr>

                    <th width="70">关键字:</th>
                    <td><input type="text" name="keywords" placeholder="敏感词关键字" value="{$keywords}"></td>
                    <td><input type="submit" name="sub" value="查询"></td>
                </tr>
            </table>
        </form>
    </div>
    <!--结果页快捷搜索框 结束-->

    <!--搜索结果页面 列表 开始-->

        <div class="result_wrap">

            <!--快捷导航 结束-->
        </div>

        <div class="result_wrap">
            <div class="result_content">
                <table class="list_tab">
                    <tr>
                        <th class="tc" width="5%">ID</th>
                        <th class="tc">敏感词</th>
                        <th class="tc">操作</th>
                    </tr>
                    <?php foreach($swlist as $k => $v){ ?>
                    <tr>
                        <td class="tc">{$v.id}</td>
                        <td class="tc">
                            {$v.word}
                        </td>
                        <td class="tc"><a href="/admin/sensitivewords/swdel?id={$v.id}&keywords={$keywords}">删除</a></td>
                    </tr>
                    <?php } ?>

                </table>


<div class="page_nav">
<div>

    {$page|raw}
</div>
</div>
</div>
</div>

<script>
    var keywords=$('input[name="keywords"]').val();
    $('.pagination li a').each(function(i){
        var href=$(this).attr('href');
        href=href+'&keywords='+keywords;
        $(this).attr('href',href);
    })
</script>